@import "tailwindcss";
@config "../tailwind.config.cjs";

html,
body,
#app {
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  background-color: #181818;
}

.n-layout,
.n-layout-content {
  background-color: transparent !important;
}
